* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(71, 71, 71);
  min-height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}

.box img {
  background: aquamarine;
  position: relative;
  width: 80px;
  color: aquamarine;
  margin-bottom: 15px;
}

.box {
  height: 400px;
  width: 300px;
  background: rgb(117, 117, 117);
  padding: 10px;
  margin: 30px;
  overflow: hidden;
}

.box h2 {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.box .content {
  color: #fff;
}
